@model SocialFashion.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Share/Layout.cshtml";
}

<div id="t3-content" class="t3-content col-xs-12 col-sm-8  col-md-9">
    <div id="system-message-container">
    </div>
    <div class="t3-content-block">

        <div id="community-wrap" class="jomsocial-wrapper on-socialize ltr cRegister">
            <div class="jomsocial">
                <div class="outerpgbar"><div class="innerpgbar" style="width:60%;"></div></div>
                <div class="joms-page">
                    <h3 class="joms-page__title">
                        Register
                    </h3>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <legend class="joms-form__legend">Basic Information</legend>



                        <div class="joms-form__group has-privacy">
                            <span> @Html.LabelFor(m => m.Gender) <span class="joms-required">*</span> </span>
                            <div class="joms-select--wrapper joms-select--expand">
                                <select name="Gender" class="joms-select">
                                    <option value="" selected="selected">Select Below</option>
                                    <option value="true">Male</option>
                                    <option value="false">Female</option>

                                </select>
                            </div>

                        </div>




                        <div class="joms-form__group has-privacy">
                            <span>
                                @Html.LabelFor(m => m.Birthdate)
                            </span>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Birthdate, new { @class = "joms-input" })
                            </div>
                        </div>


                        <div class="joms-form__group has-privacy">
                            <span>
                                @Html.LabelFor(m => m.Aboutme)
                            </span>
                            <div class="col-md-10">
                                @Html.TextAreaFor(m => m.Aboutme, new { @class = "joms-textarea" })
                            </div>
                        </div>


                        <legend class="joms-form__legend">Contact Information</legend>



                        <div class="joms-form__group has-privacy">
                            @Html.LabelFor(m => m.Website)
                            <div class="joms-table">
                                <div class="joms-table__col">
                                    <div class="joms-select--wrapper">
                                        <select name="field12[]" class="joms-select joms-table--30">
                                            <option value="http://">http://</option>
                                            <option value="https://">https://</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="joms-gap--inline joms-table__col"></div>
                                <div class="joms-table__col">

                                    @Html.TextBoxFor(m => m.Website, new { @class = "validate-profile-url joms-input" })
                                </div>
                            </div>



                        </div>

                        @Html.HiddenFor(m => m.Email)
                        @Html.HiddenFor(m => m.UserName)
                        @Html.HiddenFor(m => m.Password)
                        @Html.HiddenFor(m => m.ConfirmPassword)
                        <div class="joms-form__group">
                            <span></span>
                            Fields marked with an asterisk (*) are required.
                        </div>
                        <div class="joms-form__group">
                            <span></span>
                            <button type="submit" name="submit" id="btnSubmit" class="joms-button--primary joms-button--full-small">
                                Register                <span class="joms-loading" style="display:none">
                                    &nbsp;
                                    <img src="/components/com_community/assets/ajax-loader.gif" alt="loader">
                                </span>
                            </button>
                        </div>






                    }
                </div>

            </div>
        </div>
    </div>
</div>
